name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [ "3.2", "3.3", "3.4" ]
    name: Test Ruby ${{ matrix.ruby }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Ruby
        uses: ruby/setup-ruby@ac793fdd38cc468a4dd57246fa9d0e868aba9085 # v1.270.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run type check
        run: bin/typecheck

      - name: Lint Ruby files
        run: bin/style --config .rubocop.yml

      - name: Run tests
        run: bin/test

      - name: Check exported RBI files
        run: bin/export-rbi --check-sync

      - name: Check shims
        run: bin/tapioca check-shims
