name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [ "3.2", "3.3", "3.4" ]
    name: Test Ruby ${{ matrix.ruby }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Ruby
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run type check
        run: bin/typecheck

      - name: Lint Ruby files
        run: bin/style --config .rubocop.yml

      - name: Run tests
        run: bin/test

      - name: Check exported RBI files
        run: bin/export-rbi --check-sync

      - name: Check shims
        run: bin/tapioca check-shims
