name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [ "3.1", "3.2", "3.3" ]
    name: Test Ruby ${{ matrix.ruby }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run type check
        run: bin/typecheck

      - name: Lint Ruby files
        run: bin/style --config .rubocop.yml

      - name: Run tests
        run: bin/test
